.container {
    text-align: center;
}

.container h4 {
    margin: 0 0 7% 0;
}

.container img {
    width: 46px;
    margin: 0 5%;
}

@media (max-width: 767px) {
    .container {
        margin-top: 150%;
    }
}