@font-face {
	font-family: 'Yekan';
	src:	url('./fonts/Yekan-Font-3.0/Yekan.eot'), /* IE9 Compat Modes */
			url('./fonts/Yekan-Font-3.0/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('./fonts/Yekan-Font-3.0/Yekan.woff') format('woff'), /* Modern Browsers */
			url('./fonts/Yekan-Font-3.0/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('./fonts/Yekan-Font-3.0/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

body {
  margin: 0;
  font-family: 'Yekan';
  background-color: rgb(246, 228, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
